{%- comment %}

  Header Menu Item
  ------------------------------------------------------------------------------

  Usage:

  {% include 'header-menu-item',
              block_id: { string } - required
              attributes: { string } - optional
              url: { url } - required
              title: { string } - required
              dropdown_contents: { string } optional
  %}

{% endcomment -%}

{% assign dropdown_id = "dropdown-" | append: block_id %}

<li class="header-nav__menu-item">
  <a href="{{ url }}" {% if dropdown_contents != blank %}data-dropdown-trigger="#{{ dropdown_id }}"{% endif %}>
    {{ title }}          
  </a>
  {% if dropdown_contents != blank %}
    <div id="{{ dropdown_id }}" class="header-dropdown">
      <div class="header-container">
        {{ dropdown_contents }}
      </div>
    </div>
  {% endif %}        
</li>
