{% capture social_list_items %}
  {%- assign social_accounts = 'Facebook, Instagram, Twitter, Youtube' | split: ', ' -%}
  {% for social in social_accounts %}
    {% assign social_handle = social | handleize %}
    {% capture social_enabled_handle %}social_{{ social_handle }}_enabled{% endcapture %}
    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
    {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
    {% if settings[social_link] != blank and section.settings[social_enabled_handle] %}
      <li class="header-nav__menu-item">
        <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
          {% include social_icon %}
          <span class="icon-fallback-text">{{ social }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
{% endcapture %}

<div data-section-id="{{ section.id }}" data-section-type="header">

  <header class="header" role="banner" data-header>
    <div class="header-container">
      
      {% comment %} Logo {% endcomment %}
      <div class="header-nav header-nav--left header-nav--logo">
        {% include 'header-logo' %}
      </div>

      {% comment %} Main Menu {% endcomment %}
      <div class="header-nav header-nav--center header-nav--hide-on-mobile">

        {% if section.settings.menu != blank %}
          {% assign menu = linklists[section.settings.menu] %}

          {% if menu and menu.links.size > 0 %}
            <ul class="header-nav__menu">
              {% for link in menu.links %}
                <li class="header-nav__menu-item">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}

      </div>

      {% comment %} User Nav (Account + Cart) {% endcomment %}
      <div class="header-nav header-nav--right header-nav--hide-on-mobile">

        {% if social_list_items %}
          <ul class="header-nav__menu header-nav__menu--social">
            {{ social_list_items }}
          </ul>
        {% endif %}
        
        {% include 'header-menu-user', search_enabled: section.settings.search_enabled %}

      </div>

      {% comment %} Header nav on mobile size screens - search, account, hamburger {% endcomment %}
      <div class="header-nav header-nav--right header-nav--hide-on-desktop">
        
        {% include 'header-menu-mobile' %}

      </div>

    </div>
  </header>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "search_enabled",
        "label": "Search Enabled",
        "default": true
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "social_facebook_enabled",
        "label": "Facebook"
      },
      {
        "type": "checkbox",
        "id": "social_instagram_enabled",
        "label": "Instagram"
      },
      {
        "type": "checkbox",
        "id": "social_twitter_enabled",
        "label": "Twitter"
      },
      {
        "type": "checkbox",
        "id": "social_youtube_enabled",
        "label": "Youtube"
      }
    ]
  }
{% endschema %}
