{% assign menu_html = '' %}

{% if section.settings.menu != blank %}
  {% assign menu = linklists[section.settings.menu] %}

  {% if menu and menu.links.size > 0 %}
    {% for link in menu.links %}

    {% comment %} START Generate the dropdown contents {% endcomment %}
    {% capture dropdown_html %}
      {% if link.links.size > 0 %}
        <ul class="header-dropdown__menu">
          {% for sublink in link.links %}
            <li>
              <a href="{{ sublink.url }}">{{ sublink.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endcapture %}
    {% comment %} END Generate the dropdown contents {% endcomment %}

      {% capture menu_item_html %}
        {% assign uniq_id = section.id | append: '-' | append: forloop.index %}
        {% include 'header-menu-item',
                   block_id: uniq_id,
                   url: link.url,
                   title: link.title,
                   dropdown_contents: dropdown_html
        %}
      {% endcapture %}

      {% assign menu_html = menu_html | append: menu_item_html %}
    {% endfor %}
  {% endif %}


  {% if menu_html != blank %}
    {% assign menu_html = menu_html | prepend: '<ul class="header-nav__menu">' %}
    {% assign menu_html = menu_html | append: '</ul>' %}
  {% endif %}

{% endif %}

{% capture social_list_items %}
  {%- assign social_accounts = 'Facebook, Instagram, Twitter, Youtube' | split: ', ' -%}
  {% for social in social_accounts %}
    {% assign social_handle = social | handleize %}
    {% capture social_enabled_handle %}social_{{ social_handle }}_enabled{% endcapture %}
    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
    {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
    {% if settings[social_link] != blank and section.settings[social_enabled_handle] %}
      <li class="header-nav__menu-item">
        <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
          {% include social_icon %}
          <span class="icon-fallback-text">{{ social }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
{% endcapture %}

<div data-section-id="{{ section.id }}" data-section-type="header">

  <header class="header" role="banner" data-header>
    <div class="header-container">
      
      {% comment %} Logo {% endcomment %}
      <div class="header-nav header-nav--left header-nav--logo">
        {% include 'header-logo' %}
      </div>

      {% comment %} Main Menu {% endcomment %}
      <div class="header-nav header-nav--center header-nav--hide-on-mobile">

        {{ menu_html }}

      </div>

      {% comment %} User Nav (Account + Cart) {% endcomment %}
      <div class="header-nav header-nav--right header-nav--hide-on-mobile">

        {% if social_list_items %}
          <ul class="header-nav__menu header-nav__menu--social">
            {{ social_list_items }}
          </ul>
        {% endif %}
        
        {% include 'header-menu-user', search_enabled: section.settings.search_enabled %}

      </div>

      {% comment %} Header nav on mobile size screens - search, account, hamburger {% endcomment %}
      <div class="header-nav header-nav--right header-nav--hide-on-desktop">
        
        {% include 'header-menu-mobile' %}

      </div>

    </div>
  </header>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "checkbox",
        "id": "search_enabled",
        "label": "Search Enabled",
        "default": true
      },
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      },
      {
        "type": "header",
        "content": "Social"
      },
      {
        "type": "checkbox",
        "id": "social_facebook_enabled",
        "label": "Facebook"
      },
      {
        "type": "checkbox",
        "id": "social_instagram_enabled",
        "label": "Instagram"
      },
      {
        "type": "checkbox",
        "id": "social_twitter_enabled",
        "label": "Twitter"
      },
      {
        "type": "checkbox",
        "id": "social_youtube_enabled",
        "label": "Youtube"
      }
    ]
  }
{% endschema %}
