<div data-section-id="{{ section.id }}" data-section-type="social" data-access-token="{{ section.settings.instagram_access_token }}">
  <div class="container">
    <div class="content-grid">
      <div class="content-grid__item">
        <h5>Facebook</h5>
        <div data-facebook-target></div>
      </div>
      {% if section.settings.instagram_access_token != blank %}
        <div class="content-grid__item">
          <h5>Instagram</h5>
          <div class="content-grid content-grid--instagram" data-instagram-feed-target></div>
          {% if settings.social_instagram_link != blank %}
            <div class="content-footer">
              <a href="{{ settings.social_instagram_link }}">See more on Instagram</a>
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="content-grid__item">
        <h5>Twitter</h5>
        <div style="max-height: 500px; overflow: scroll" data-twitter-target></div>
      </div>
    </div>
  </div>

  {% raw %}
  <script type="text/x-handlebars-template" data-instagram-media-template>
    <div class="content-grid__item">
      <a href="{{ url }}" title="{{ caption }}" target="_blank">
        <div class="frame frame--1x1" style="background-image:url({{ src }})"></div>
      </a>
    </div>
  </script>
  {% endraw %}

</div>

{% schema %}
  {
    "name": "Social",
    "settings": [
      {
        "id": "instagram_access_token",
        "label": "Instagram Access Token",
        "type": "text",
        "info": "See: instagram.com/developer/authentication"
      }
    ],
    "presets": [{
      "name": "Social",
      "category": "Misc",
      "settings": {}
    }]
  }
{% endschema %}