<div data-section-id="{{ section.id }}" data-section-type="family-page">
  <div class="container">
    {% if section.settings.title %}
      <h4 class="content-header">{{ section.settings.title }}</h4>
    {% endif %}
    <div class="content-grid content-grid--centered content-grid--5-col">
      {% for block in section.blocks %}
        <div class="content-grid__item" {{ block.shopify_attributes }}>
          <div class="logo-item">
            {% if block.settings.url %}<a href="{{ block.settings.url }}">{% endif %}
            <img src="{{ block.settings.image | img_url: '250x250' }}" />
            <div class="logo-item__caption logo-item__caption--show">{{ block.settings.title }}</div>
            {% if block.settings.url %}</a>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Family Podcasts",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ]   
  }
{% endschema %}